{"presets":{"Default":{"theme":"light","show_company_logo":"1","sidebar_balance_enabled":"1","top_menu_dashboard":"1","top_menu_order":"1","top_menu_profile":"1","top_menu_signout":"1","show_breadcrumb":"1","hide_dashboard_breadcrumb":"1","require_login":"0","hide_menu":"1","footer_enabled":"1","footer_signature":"","footer_link_1_enabled":"1","footer_link_1_title":"Terms of Service","footer_link_1_page":"","footer_link_2_enabled":"1","footer_link_2_title":"Privacy Policy","footer_link_2_page":"","footer_link_3_enabled":"0","footer_link_3_title":"Status","footer_link_3_page":"","meta_title_prefix":"","meta_title_suffix":"","meta_description":"","meta_keywords":"","meta_robots":"","meta_author":""}},"current":"Default"}